:root {
  --main-text: #C4C4C4;
  --t-highlight: #a8ffc9;
  --background: #151818;
  --backgroundbutlessharsh: #222929;
}

html,
body {
  color: var(--main-text);
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  text-rendering: optimizeSpeed;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
#main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-style: solid;
  border-color: var(--t-highlight);
  border-width: 1px;
  border-radius: 10px;
}

table th {
  border-bottom: 1px solid var(--t-highlight);
  border-right: 1px solid var(--t-highlight);
}

table td {
  border-bottom: 1px solid var(--backgroundbutlessharsh);
  border-right: 1px solid var(--backgroundbutlessharsh);
  padding: 5px 5px;
}