:root {
  --main-text: #C4C4C4;
  --t-highlight: #47b5ff;
  --background: #20232c;
  --backgroundbutlessharsh: #ffffff;
  --linefortable: #ffffff;
}

html,
body {
  color: var(--main-text);
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  text-rendering: optimizeSpeed;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
#main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tablecontainer {
  padding: 10px;
}

table {
  border-style: solid;
  border-color: var(--t-highlight);
  border-width: 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

table th {
  border-bottom: 1px solid var(--t-highlight);
  border-right: 1px solid var(--t-highlight);
}

table td {
  border-bottom: 1px solid var(--linefortable);
  border-right: 1px solid var(--backgroundbutlessharsh);
  padding: 5px 5px;
}

tbody tr:hover {
  background-color: #3e4457;
}

tbody tr:active {
  background-color: #3e5743;
}

.dropdown {
  background-color:#000000;
}
.dropdown:hover {
  background-color: #0a0a0a;
}